multi-cloud-ai-workflow/deployment/workflows/ai.json
{
    "Comment": "AI Workflow",
    "StartAt": "01-validate-workflow-input",
    "States": {
        "01-validate-workflow-input": {
            "Type": "Task",
            "Resource": "${lambda-01-validate-workflow-input}",
            "ResultPath": "$.data.mediaFileLocator",
            "Next": "02-ai-extraction-parent",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "Process-Failure"
                }
            ]
        },
        "02-ai-extraction-parent": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "60-google",
                    "States": {
                        "60-google": {
                            "Type": "Parallel",
                            "Branches": [
                                {
                                    "StartAt": "61-extract-audio-google",
                                    "States": {
                                        "61-extract-audio-google": {
                                            "Type": "Task",
                                            "Resource": "${lambda-61-extract-audio-google}",
                                            "End": true
                                        }
                                    }
                                },
                                {
                                    "StartAt": "61-wait-for-job-completion",
                                    "States": {
                                        "61-wait-for-job-completion": {
                                            "Type": "Task",
                                            "Resource": "${activity-61-extract-audio-google}",
                                            "TimeoutSeconds": 3600,
                                            "HeartbeatSeconds": 1800,
                                            "End": true
                                        }
                                    }
                                }
                            ],
                            "ResultPath": "$.data.extractAudioJobId",
                            "Next": "62-register-extract-audio-google",
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "ResultPath": "$.error",
                                    "Next": "process-failure-branch-4"
                                }
                            ]
                        },
                        "62-register-extract-audio-google": {
                            "Type": "Task",
                            "Resource": "${lambda-62-register-extract-audio-google}",
                            "ResultPath": null,
                            "Next": "process-completion-branch-4",
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "ResultPath": "$.error",
                                    "Next": "process-failure-branch-4"
                                }
                            ]
                        },
                        "process-failure-branch-4": {
                            "Type": "Pass",
                            "End": true
                        },
                        "process-completion-branch-4": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                }


            ],
            "ResultPath": null,
            "Next": "Process-Completion",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "Process-Failure"
                }
            ]
        },
        "Process-Completion": {
            "Type": "Task",
            "Resource": "${lambda-process-workflow-completion}",
            "ResultPath": null,
            "Next": "Completed"
        },
        "Process-Failure": {
            "Type": "Task",
            "Resource": "${lambda-process-workflow-failure}",
            "ResultPath": null,
            "Next": "Failed"
        },
        "Failed": {
            "Type": "Fail"
        },
        "Completed": {
            "Type": "Succeed"
        }
    }
}